@font-face {
  font-family: "Antonio";
  src: url("/planets-fact-site/fonts/Antonio-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Spartan";
  src: url("/planets-fact-site/fonts/LeagueSpartan-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  /* Color variables */
  /* *************** */

  /* Text colors */
  --clr-text-primary: #ffffff;
  --clr-text-secondary: rgba(255, 255, 255, 0.5);

  /* Planet colors */
  --clr-accent-mercury: #419ebb;
  --clr-accent-jupiter: #d83a34;
  --clr-accent-earth: #6d2ed5;
  --clr-accent-mars: #d14c32;
  --clr-accent-venus: #eda249;
  --clr-accent-saturn: #cd5120;
  --clr-accent-neptune: #2d68f0;
  --clr-accent-uranus: #1ec1a2;

  /* Each route path should switch this CSS variable to the current planet color.
    Default is earth's color */
  --clr-accent-planet: var(--clr-accent-earth);

  /* Button colors */
  --btn-default: var(--clr-background);
  --btn-active: var(--clr-accent-planet);
  --btn-hover: rgba(216, 216, 216, 0.2);
  --clr-hamburger-default: #ffffff;
  --clr-hamburger-active: #979797;

  /* Features and border colors */
  --clr-border: rgba(255, 255, 255, 0.25);
  --clr-separator-menu-mobile: rgba(151, 151, 151, 0.5);
  --clr-separator-mobile: rgba(151, 151, 151, 0.2);
  --clr-body-bg: #070724;

  /* Other colors */
  --clr-other-1: #838391;
  --clr-other-2: #38384f;

  /* Header accent color */
  --accent-visible: hidden;

  /* Content button options variables */
  --show-overview: block;
  --show-structure: none;
  --show-geology: none;
}

.container-border-gray {
  border-width: 1px;
  border-style: solid;
  border-color: var(--clr-border);
}

.planet-earth {
  --clr-accent-planet: var(--clr-accent-earth);
}
.planet-mercury {
  --clr-accent-planet: var(--clr-accent-mercury);
}
.planet-venus {
  --clr-accent-planet: var(--clr-accent-venus);
}
.planet-mars {
  --clr-accent-planet: var(--clr-accent-mars);
}
.planet-jupiter {
  --clr-accent-planet: var(--clr-accent-jupiter);
}
.planet-saturn {
  --clr-accent-planet: var(--clr-accent-saturn);
}
.planet-uranus {
  --clr-accent-planet: var(--clr-accent-uranus);
}
.planet-neptune {
  --clr-accent-planet: var(--clr-accent-neptune);
}

h1,
.header-1 {
  font-family: "Antonio", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
}

h2,
.header-2 {
  font-family: "Antonio", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: -0.75px;
}

h3,
.header-3 {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

h4,
.header-4 {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 8px;
  line-height: 16px;
  letter-spacing: 0.727px;
}

@media (min-width: 768px) {
  h1,
  .header-1 {
    font-size: 48px;
    line-height: 48px;
  }
}
@media (min-width: 1440px) {
  h1,
  .header-1 {
    font-size: 80px;
    line-height: 104px;
  }

  h2,
  .header-2 {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
  }

  h3,
  .header-3 {
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
  }

  h4,
  .header-4 {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.57143px;
  }
}

html,
body {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  background-color: var(--clr-body-bg);
}
