---
import IconHamburger from "./IconHamburger.astro";
import NavLinks from "./NavLinks.astro";
---

<header>
    <section>
        <span class="planets-site-name">The planets</span>
        <button class="btn-hamburger">
            <IconHamburger />
        </button>
        <NavLinks />
    </section>
</header>

<script>
    window.onload = function () {
        // Elements
        const btnHamburger =
            document.getElementsByClassName("btn-hamburger")[0];
        const navlinks = document.getElementsByClassName("planet-list")[0];

        // Handlers
        const hamburgerClickHandler = () => {
            navlinks.classList.toggle("hide-nav");
            btnHamburger.classList.toggle("btn-hamburger-clicked");
            console.warn("Hamburger clicked!!");
        };

        // Events
        btnHamburger.addEventListener("click", hamburgerClickHandler);
    };
</script>

<style>
    header {
        width: 100%;
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: rgba(255, 255, 255, 0.2);
    }

    section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
    }

    .planets-site-name {
        text-align: center;
        font-family: "Antonio";
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -1.05px;
        text-transform: uppercase;

        color: #ffffff;
    }

    .btn-hamburger,
    button:active,
    button:hover,
    button:focus,
    button {
        all: unset;
        width: 24px;
        height: 17px;
        appearance: none;
        color: transparent;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
    }

    .btn-hamburger-clicked {
        fill: #979797;
    }

    @media (min-width: 768px) {
        section {
            justify-content: space-between;
            flex-direction: column;
            gap: 39px;
            padding-inline: 53px;
            padding-top: 32px;
            padding-bottom: 27px;
        }

        .btn-hamburger,
        button {
            display: none !important;
        }
    }
    @media (min-width: 1440px) {
        .planets-site-name {
            padding-top: 22px;
        }

        section {
            padding-top: 0;
            flex-direction: row;
            padding-inline: 32px;
        }
    }
</style>
